.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #000 !important;
    border-color: #000 !important;
    background-image: none;
}

.container-fluid {
    padding-top: 50px;
}

#title {
    text-transform: uppercase;
    font-family: 'Special Elite', cursive;
    font-size: 200%;
    color: black;
}

body {
    background-image: url(https://resources.12stone.com/uploads/artwork/fullscreen_blank.jpg);
    background-size: cover;
    font-family: 'Special Elite', cursive;
    font: Black;
}

#author {
    /*    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);*/
    width: auto;
    margin: 10px auto;
    background: f7f7f7
}

.space {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
    color: Black;
    font-family: 'Special Elite', cursive;
}

footer,
#about-page {
    float: center;
    background: black;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    width: 100%;
    bottom: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-family: 'Special Elite', cursive;
}

#contact {
    background-color: black;
    margin-left: -15px;
    color: white;
    font-family: 'Special Elite', cursive;
}